* {
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	font-family: 'DM Sans', sans-serif;

	padding: 50px 100px;
}
.header {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.logo {
	margin: 0;
}
.logoImg {
	width: 268px;
	text-align: center;
}

.searchBar {
	position: relative;
	width: 100%;
}
.searchBarInput {
	width: 100%;
	height: 69px;
	background-color: #e7e7e7;
	font-size: 25px;
	border-radius: 5px;
	padding: 5px 10px;
}
.searchBarInput::placeholder {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	opacity: 0.25;
	padding-left: 15px;
	color: #000000;
}
.fa-magnifying-glass {
	position: absolute;
	width: 32px;
	height: 32px;
	font-size: 24px;
	right: 10px;
	top: 24px;
}

/*-----Main / section filter-----*/

#filter {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 20px 0;
}
/*-------- popup -----*/

#popup {
	display: flex;
	gap: 15px;
}
#popup {
	display: none;
}
#popup.active {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 15px;
	align-items: baseline;
}
#popup li {
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 15px;
	border-radius: 5px;
	color: white;
}
#popup > li > i.far.fa-circle-xmark {
	font-size: 20px;
	cursor: pointer;
}
.tag-ingredients {
	background-color: #3282f7;
}
.tag-appliance {
	background-color: #68d9a4;
}
.tag-ustensils {
	background-color: #ed6454;
}
/*------- results --------*/
#results {
	display: flex;
	gap: 15px;
	margin-bottom: 100px;
}
#results > div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px;
	border-radius: 5px;
}
#results .input.active {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 500px;
}
#results .input {
	display: none;
}

#results input {
	position: relative;
	font-size: 16px;
	height: 25px;
	padding: 5px;
}

.fas {
	color: white;
	cursor: pointer;
}

.fas.fa-angle-down,
.fas.fa-angle-up {
	display: block;
	position: absolute;
	top: 25px;
	right: 15px;
	font-weight: bold;
	font-size: 20px;
	z-index: 10;
}
.fas.fa-angle-down.active {
	top: 30px;
}
#results button.hide {
	display: none;
}
#results button {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px 40px 10px 5px;
	border-radius: 5px;
	width: 100%;
	height: 100%;

	font-size: 20px;
	font-weight: bold;
	color: white;
	z-index: 10;

	cursor: pointer;
}
.ingredients-btn {
	background-color: #3282f7;
}
.appliance-btn {
	background-color: #68d9a4;
}
.ustensils-btn {
	background-color: #ed6454;
}
.ingredients-btn.hide,
.appliance-btn.hide,
.ustensils-btn.hide {
	display: none;
}

.input input {
	width: 90%;
	color: white;
	cursor: text;
}

.ingredients-results {
	position: relative;
	background-color: #3282f7;
	padding: 20px;
}

.ingredients-results input,
.ingredients-results-list {
	background-color: #3282f7;
}

.appliance-results {
	position: relative;
	background-color: #68d9a4;
	padding: 20px;
}

.appliance-results input,
.appliance-results-list {
	background-color: #68d9a4;
}
input::placeholder {
	color: white;
	font-size: 15px;
}

#results .input ul {
	display: flex;
	position: absolute;
	padding: 20px;
	width: 100%;
	height: 280px;
	overflow-x: scroll;
	border-radius: 5px;
	left: 0;
	top: 60px;
}
#results .input ul span {
	width: 45%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	column-gap: 40px;
}

ul.appliance-results-list::-webkit-scrollbar,
ul.ustensils-results-list::-webkit-scrollbar {
	display: none;
}
.appliance,
.ustensils,
.ingredients {
	color: white;
	cursor: pointer;
}
.appliance::first-letter,
.ustensils::first-letter,
.ingredients::first-letter,
.paragraph-appliance::first-letter,
.paragraph-ustensils::first-letter,
.paragraph-ingredients::first-letter {
	text-transform: uppercase;
}
.appliance:hover,
.ustensils:hover,
.ingredients:hover {
	background-color: grey;
}

.ustensils-results {
	position: relative;
	background-color: #ed6454;
	padding: 20px;
}
.ustensils-results input,
.ustensils-results-list {
	background-color: #ed6454;
}

/*-----Main / section recipes-----*/
.recipesParentDiv {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 50px;
}
.noListDiv {
	display: none;
}
.noListDiv.active {
	display: flex;
	font-size: 30px;
	font-weight: bolder;
}
.cardImg {
	background-color: grey;
	min-height: 230px;
	border-radius: 5px 5px 0px 0px;
}
.cardDescription {
	background-color: lightgrey;
	padding: 10px 20px;
	border-radius: 0 0 5px 5px;
	height: 250px;
}
.cardDescriptionTop {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-bottom: 15px;
}
.cardTitle {
	font-size: 24px;
	font-weight: normal;
	max-height: 60px;
	overflow-y: hidden;
}
.cardTiming {
	display: flex;
	align-items: center;
	gap: 10px;
}
.cardTiming .fa-clock {
	font-size: 24px;
}
.cardTiming p {
	font-size: 24px;
	font-weight: bolder;
	white-space: nowrap;
}
.cardDescriptionBottom {
	display: flex;
	font-size: 12px;
	list-style: none;
	gap: 30px;
}
.cardIngredients {
	display: flex;
	flex-direction: column;
	flex: 1;
	list-style: none;
	margin-top: 0;
}
.cardIngredients li {
	display: flex;
	align-items: flex-start;
	font-size: 12px;
}
.ingredientName {
	font-weight: bold;
	max-height: 30px;
	overflow-y: hidden;
}
.ingredientName::-webkit-scrollbar {
	display: none;
}
.ingredientQuantity {
	padding: 0 3px 0 10px;
}
.cardRecipe {
	flex: 1;
	height: 140px;
	overflow-y: scroll;
}
.cardRecipe::-webkit-scrollbar {
	display: none;
}
